/* Frame 2147239688 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 16px;

position: relative;
width: 983px;
height: 345.14px;



/* for you custom */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px 8px 8px;
gap: 20px;
isolation: isolate;

width: 483.5px;
min-width: 330px;
height: 164.57px;

border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Hover element (new) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
left: 0px;
right: -0.5px;
top: 0px;
bottom: -0.43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2147239684 */

width: 104px;
height: 148.57px;

background: #D6E2F6;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* image 685 */

position: absolute;
width: 132px;
height: 158px;
left: calc(50% - 132px/2 - 3px);
bottom: -14.43px;

background: url(bg_removal [Background removed].png);


/* Frame 2147239685 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 319.5px;
height: 148.57px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Frame 2147239686 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 319.5px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Elena */

width: 319.5px;
height: 25px;

font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 155%;
/* identical to box height, or 25px */
display: flex;
align-items: flex-end;

color: #1C1C1C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 319.5px;
height: 44px;

font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 155%;
/* or 22px */
display: flex;
align-items: flex-end;

color: #676879;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button

<p><span style="white-space: pre-wrap;">➡️ Buttons allow users take actions with a single click. With clear indications that they triggering an action, buttons should be easy to find among other UI.</span></p><p><br></p><p><span style="white-space: pre-wrap;">➡️ Use only one primary button, and any remaining calls to action should be represented as lower emphasis buttons.</span></p><p><br></p><p><b><strong style="white-space: pre-wrap;">Hebrew keyboard mistake:</strong></b><br><span style="white-space: pre-wrap;">נואאםמ</span></p>

➡️Medium emphasis button
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 8px;

margin: 0 auto;
display: none;
width: 123px;
height: 32px;
min-height: 32px;
max-height: 32px;

border: 1px solid #C3C6D4;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Apps */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 50.4px;
height: 28.8px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -7.2px;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);



/* Ellipse 14 */

position: absolute;
visibility: hidden;
width: 111.09px;
height: 111.09px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* googlemailmail */

position: absolute;
left: 11.25%;
right: 10.42%;
top: 21.25%;
bottom: 20%;

background: url(googlemailmail.png);


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);

border-radius: 12.15px;


/* Graphic elements/Graphic elements/Monday */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* monday logowednesy-01 copy 15 */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 22.75%;
bottom: 22.76%;



/* Shape */

position: absolute;
left: 4.17%;
right: 55.5%;
top: 22.88%;
bottom: 22.76%;

background: #FB275D;


/* Shape */

position: absolute;
left: 36.97%;
right: 22.63%;
top: 22.75%;
bottom: 22.76%;

background: #FFCB00;


/* Oval */

position: absolute;
left: 69.75%;
right: 4.17%;
top: 50.46%;
bottom: 22.76%;

background: #00C875;


/* for you custom */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 32px 8px 8px;
gap: 20px;
isolation: isolate;

width: 483.5px;
min-width: 330px;
height: 164.57px;

border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Hover element (new) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
left: 0px;
right: -0.5px;
top: 6.5px;
bottom: 6.07px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2147239684 */

width: 104px;
height: 148.57px;

background: #D6E2F6;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* image 685 */

position: absolute;
width: 178.32px;
height: 236.22px;
left: calc(50% - 178.32px/2 + 1.83px);
top: 15.68px;

background: url(23123123.png);


/* Frame 2147239685 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 319.5px;
height: 148.57px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Frame 2147239686 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 319.5px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Ron */

width: 319.5px;
height: 25px;

font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 155%;
/* identical to box height, or 25px */
display: flex;
align-items: flex-end;

color: #1C1C1C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 319.5px;
height: 44px;

font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 155%;
/* or 22px */
display: flex;
align-items: flex-end;

color: #676879;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button

<p><span style="white-space: pre-wrap;">➡️ Buttons allow users take actions with a single click. With clear indications that they triggering an action, buttons should be easy to find among other UI.</span></p><p><br></p><p><span style="white-space: pre-wrap;">➡️ Use only one primary button, and any remaining calls to action should be represented as lower emphasis buttons.</span></p><p><br></p><p><b><strong style="white-space: pre-wrap;">Hebrew keyboard mistake:</strong></b><br><span style="white-space: pre-wrap;">נואאםמ</span></p>

➡️Medium emphasis button
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 8px;

margin: 0 auto;
display: none;
width: 123px;
height: 32px;
min-height: 32px;
max-height: 32px;

border: 1px solid #C3C6D4;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Apps */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 50.4px;
height: 28.8px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -7.2px;


/* logomedium/linkedin */

position: absolute;
width: 21.6px;
height: 21.6px;
left: calc(50% - 21.6px/2 - 0.4px);
top: calc(50% - 21.6px/2 - 0.4px);



/* Group */

position: absolute;
width: 18.6px;
height: 18.72px;
left: 1.44px;
top: 1.44px;



/* path14 */

position: absolute;
left: 6.67%;
right: 7.21%;
top: 6.66%;
bottom: 6.67%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path28 */

position: absolute;
left: 19%;
right: 66.37%;
top: 21.21%;
bottom: 20.79%;

background: #006699;
transform: matrix(1, 0, 0, -1, 0, 0);


/* path30 */

position: absolute;
left: 39.97%;
right: 20.32%;
top: 39.16%;
bottom: 20.79%;

background: #006699;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);



/* Ellipse 14 */

position: absolute;
visibility: hidden;
width: 111.09px;
height: 111.09px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* googlemailmail */

position: absolute;
left: 11.25%;
right: 10.42%;
top: 21.25%;
bottom: 20%;

background: url(googlemailmail.png);


/* Skills */

box-sizing: border-box;

display: none;
width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px -7.2px;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);

border-radius: 12.15px;


/* Graphic elements/Graphic elements/Monday */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* monday logowednesy-01 copy 15 */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 22.75%;
bottom: 22.76%;



/* Shape */

position: absolute;
left: 4.17%;
right: 55.5%;
top: 22.88%;
bottom: 22.76%;

background: #FB275D;


/* Shape */

position: absolute;
left: 36.97%;
right: 22.63%;
top: 22.75%;
bottom: 22.76%;

background: #FFCB00;


/* Oval */

position: absolute;
left: 69.75%;
right: 4.17%;
top: 50.46%;
bottom: 22.76%;

background: #00C875;


/* for you custom */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 32px 8px 8px;
gap: 20px;
isolation: isolate;

width: 483.5px;
min-width: 330px;
height: 164.57px;

border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Hover element (new) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
left: 0px;
right: -0.5px;
top: 0px;
bottom: -0.43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2147239684 */

width: 104px;
height: 148.57px;

background: #D6E2F6;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* image 685 */

position: absolute;
width: 170.43px;
height: 225.77px;
left: -45.47px;
top: 10.77px;

background: url(bg_removal [Background removed].png);


/* Frame 2147239685 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 319.5px;
height: 148.57px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Frame 2147239686 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 319.5px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Emma */

width: 319.5px;
height: 25px;

font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 155%;
/* identical to box height, or 25px */
display: flex;
align-items: flex-end;

color: #1C1C1C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 319.5px;
height: 44px;

font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 155%;
/* or 22px */
display: flex;
align-items: flex-end;

color: #676879;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button

<p><span style="white-space: pre-wrap;">➡️ Buttons allow users take actions with a single click. With clear indications that they triggering an action, buttons should be easy to find among other UI.</span></p><p><br></p><p><span style="white-space: pre-wrap;">➡️ Use only one primary button, and any remaining calls to action should be represented as lower emphasis buttons.</span></p><p><br></p><p><b><strong style="white-space: pre-wrap;">Hebrew keyboard mistake:</strong></b><br><span style="white-space: pre-wrap;">נואאםמ</span></p>

➡️Medium emphasis button
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 8px;

margin: 0 auto;
display: none;
width: 123px;
height: 32px;
min-height: 32px;
max-height: 32px;

border: 1px solid #C3C6D4;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Apps */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 50.4px;
height: 28.8px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Skills */

box-sizing: border-box;

display: none;
width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -7.2px;


/* Logos */

position: absolute;
width: 21.6px;
height: 21.6px;
left: calc(50% - 21.6px/2 - 0.4px);
top: calc(50% - 21.6px/2 - 0.4px);



/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px -7.2px;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.18px);
top: calc(50% - 19.44px/2 - 0.02px);



/* image 1 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.34%;

background: url(image.png);


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);

border-radius: 12.15px;


/* Graphic elements/Graphic elements/Monday */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* monday logowednesy-01 copy 15 */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 22.75%;
bottom: 22.76%;



/* Shape */

position: absolute;
left: 4.17%;
right: 55.5%;
top: 22.88%;
bottom: 22.76%;

background: #FB275D;


/* Shape */

position: absolute;
left: 36.97%;
right: 22.63%;
top: 22.75%;
bottom: 22.76%;

background: #FFCB00;


/* Oval */

position: absolute;
left: 69.75%;
right: 4.17%;
top: 50.46%;
bottom: 22.76%;

background: #00C875;


/* for you custom */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 32px 8px 8px;
gap: 20px;
isolation: isolate;

width: 483.5px;
min-width: 330px;
height: 164.57px;

border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Hover element (new) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
left: 0.5px;
right: -1px;
top: 0px;
bottom: -0.43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2147239684 */

width: 104px;
height: 148.57px;

background: #D6E2F6;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* image 685 */

position: absolute;
width: 203.53px;
height: 294.23px;
left: calc(50% - 203.53px/2 - 0.26px);
top: 7.11px;

background: url(bg_removal [Background removed].png);


/* Frame 2147239685 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 319.5px;
height: 148.57px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Frame 2147239686 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 319.5px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Dani */

width: 319.5px;
height: 25px;

font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 155%;
/* identical to box height, or 25px */
display: flex;
align-items: flex-end;

color: #1C1C1C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 319.5px;
height: 44px;

font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 155%;
/* or 22px */
display: flex;
align-items: flex-end;

color: #676879;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button

<p><span style="white-space: pre-wrap;">➡️ Buttons allow users take actions with a single click. With clear indications that they triggering an action, buttons should be easy to find among other UI.</span></p><p><br></p><p><span style="white-space: pre-wrap;">➡️ Use only one primary button, and any remaining calls to action should be represented as lower emphasis buttons.</span></p><p><br></p><p><b><strong style="white-space: pre-wrap;">Hebrew keyboard mistake:</strong></b><br><span style="white-space: pre-wrap;">נואאםמ</span></p>

➡️Medium emphasis button
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 8px;

margin: 0 auto;
display: none;
width: 123px;
height: 32px;
min-height: 32px;
max-height: 32px;

border: 1px solid #C3C6D4;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Apps */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 72px;
height: 28.8px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -7.2px;


/* logomedium/linkedin */

position: absolute;
width: 21.6px;
height: 21.6px;
left: calc(50% - 21.6px/2 - 0.4px);
top: calc(50% - 21.6px/2 - 0.4px);



/* Group */

position: absolute;
width: 18.6px;
height: 18.72px;
left: 1.44px;
top: 1.44px;



/* path14 */

position: absolute;
left: 6.67%;
right: 7.21%;
top: 6.66%;
bottom: 6.67%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path28 */

position: absolute;
left: 19%;
right: 66.37%;
top: 21.21%;
bottom: 20.79%;

background: #006699;
transform: matrix(1, 0, 0, -1, 0, 0);


/* path30 */

position: absolute;
left: 39.97%;
right: 20.32%;
top: 39.16%;
bottom: 20.79%;

background: #006699;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px -7.2px;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);



/* Ellipse 14 */

position: absolute;
visibility: hidden;
width: 111.09px;
height: 111.09px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* googlemailmail */

position: absolute;
left: 11.25%;
right: 10.42%;
top: 21.25%;
bottom: 20%;

background: url(googlemailmail.png);


/* Skills */

box-sizing: border-box;

width: 28.8px;
height: 28.8px;

background: #FFFFFF;
border: 1.152px solid #E7E9EF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Logos */

position: absolute;
width: 19.44px;
height: 19.44px;
left: calc(50% - 19.44px/2 - 0.4px);
top: calc(50% - 19.44px/2 - 0.4px);

border-radius: 12.15px;


/* Graphic elements/Graphic elements/Monday */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* monday logowednesy-01 copy 15 */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 22.75%;
bottom: 22.76%;



/* Shape */

position: absolute;
left: 4.17%;
right: 55.5%;
top: 22.88%;
bottom: 22.76%;

background: #FB275D;


/* Shape */

position: absolute;
left: 36.97%;
right: 22.63%;
top: 22.75%;
bottom: 22.76%;

background: #FFCB00;


/* Oval */

position: absolute;
left: 69.75%;
right: 4.17%;
top: 50.46%;
bottom: 22.76%;

background: #00C875;
